body,html
  {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  }
  body
  {
  background-position: center;
  background-attachment: fixed;
  }
  .logo{
    font-size: 40px;
    font-family: serif;
    color: #204b4b;
    margin-top: 0;
    padding: 0;
  }

  .back{
      background-image: url('./../pictures/picpatient.jpg');
      height: 100%;
      background-size: cover;
      background-position: center;
  }

  .topnav {
    overflow: hidden;
    background-color: #1b1a1a;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 25px;
    opacity: 0.9;
    position: sticky;
    top: 1em;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #204b4b;
    color: #fff;
  }

  .active {
    background-color: #204b4b;
  }
    
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 8px;
    margin-top: 7px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .formset{
      margin-top: 6em;
      margin-left: 30em;
      opacity: 0.85;
  }

  .loginform{
      color: #204b4b;
      background-color: #fff;
      padding: 1em;
      border-radius: 15px;
  }

  .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: #204b4b;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #204b4b;
  }
  
  .btnsignin {
    background-color: #204b4b;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
  }  
  .btnsignin:hover {
    opacity: 1;
  }

  .input-conainer a{
      text-decoration: none;
      color: blue;
  }

  .input-conainer a:hover{
      background-color: #204b4b;
      color: #fff;
      border-radius: 5px;
      padding: 5px;
  }

  body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  #login-box {
    position: relative;
    margin: 5% auto;
    margin-right: 12em;
    margin-top: 4em;
    width: 1060px;
    padding-right: 2em;
    height: 500px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.850;
    color: #204b4b;
    font-size: 17px;
  }
  
  .signupset{
      text-align: center;
      padding-left: 2em;
      padding-top: 1em;
      font-size: 19px;
  }
  
  .signupset input[type="text"]{
    color: #204b4b;
    font-size: 19px;
  }
  .signupset input[type="date"]{
    color: #204b4b;
    font-size: 19px;
  }
  .signupset input[type="option"]{
    color: #204b4b;
    font-size: 19px;
  }
  
  #submit{
    color: #fff;
    background-color: #204b4b;
    margin-left: -11em;
    margin-top: 2em;
    font-size: 17px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #submit:hover{
    color: rgb(4, 223, 223);
  }
  
  #reset:hover{
    color: rgb(4, 223, 223);
  }
  
  #reset{
    color: #fff;
    background-color: #204b4b;
    margin-left: 5em;
    margin-bottom: 5em; 
    font-size: 17px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em; 
    border-radius: 10px;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(n) {
    background-color: #dddddd;
  }

 .buttons{
    margin-left: 8em;
 }