doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PatientDetailsUpdateEnter
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../public/style/PatientDetailsUpdateEnter.css')
style
    include ../public/style/PatientDetailsUpdateEnter.css
    
.back
  nav.topnav
    // <a href="index.html">HOME</a>
    a(href='/doctor.pug') DOCTOR
    a.active PATIENT DETAILS UPDATE
    a(href='#about') ABOUT
    a(href='/doctor.pug') LOG OUT
    .search-container
      form(action='https://www.google.com/search')
        // <input type="text" placeholder="Search Here..." name="search">
        button(type='submit')
          i.fa.fa-user
  #login-box
    form.signupset
      h1 Disease Details
      table
        tr
          th Date &amp; Time
          th Disease / Alergy
          th Medicine
          th Doctor
        tr
          td
            input(type='date' name='datetime')
          td
            input(type='text' name='disease')
          td
            input(type='text' name='medicine')
          td
            input(type='text' name='doctor')
        tr
          td
            input(type='date' name='datetime')
          td
            input(type='text' name='disease')
          td
            input(type='text' name='medicine')
          td
            input(type='text' name='doctor')
      .buttons
        input#submit(type='submit' action='/PatientDisease.pug' value='Add')
        input#reset(type='submit' value='Done')
