doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PatientDetailsUpdate
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../public/style/PatientDetailsUpadate.css')
style
    include ../public/style/PatientDetailsUpadate.css
.back
  .formset
    form.loginform(action='/doctorgetpatient' style='max-width:500px;margin:auto' method = 'post')
      h1 Enter Username...
      .input-container
        i.fa.fa-user.icon
        input.input-field(type='text' placeholder='Username or Email' name='username')
      .input-container
        button.btnsignin(type='submit') Enter
