doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='Doctor Details/css/wickedpicker.css' rel='stylesheet' type='text/css' media='all')
  link(href='Doctor Details/css/style.css' rel='stylesheet' type='text/css')
  link(href='//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet')
  link(href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../public/style/PatientPersonalDetails.css')
  style
    include ../public/style/PatientPersonalDetails.css
    include ../public/style/style.css
body 
#addEmployeeModal.modal.fade
  .modal-dialog
    .modal-content
      form
        .modal-header
          h4.modal-title Add Employee
          button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        .modal-body
          .form-group
            label Name
            input.form-control(type='text' required='')
          .form-group
            label Email
            input.form-control(type='email' required='')
          .form-group
            label Address
            textarea.form-control(required='')
          .form-group
            label Phone
            input.form-control(type='text' required='')
        .modal-footer
          input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
          input.btn.btn-success(type='submit' value='Add')
